params {

    batch_id = ''
    pool_id = ''

    project_dir = '/scratch/asabe/projects/pacbio'
    ref_genome_fasta = params.project_dir + '/data/references/genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta'

    revio_dir = params.project_dir + '/data/revio'
    batch_dir = params.revio_dir + '/' + params.batch_id
    demux_dir = params.batch_dir + '/demux'
    rm_primers_dir = params.batch_dir + '/rm-primers'
    fl_dir = params.batch_dir + '/fl'
    flnc_dir = params.batch_dir + '/flnc'
    fastq_dir = params.batch_dir + '/fastq'
    aligned_dir = params.batch_dir + '/aligned'
    bam_dir = params.batch_dir + '/bam'

}

process {

    withLabel: basic {
        cpus = 2
    }

    withLabel: multi_parallel {
        cpus = 16
    }

    withLabel: parallel {
        cpus = 248
    }

    withName: DemultiplexBarcodes {
        publishDir = [ path: params.demux_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/lima:2.7.1--h9ee0642_0'
    }

    withName: RemovePrimers {
        publishDir = [ path: params.rm_primers_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/lima:2.7.1--h9ee0642_0'
    }

    withName: RenameSamples {
        publishDir = [ path: params.fl_dir, mode: 'link' ]
    }

    withName: RefineFullLengthReads {
        publishDir = [ path: params.flnc_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/isoseq:4.0.0--h9ee0642_0'
    }

    withName: BamToFastq {
        publishDir = [ path: params.fastq_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/samtools:1.18--hd87286a_0'
    }

    withName: AlignFLNCReads {
        publishDir = [ path: params.aligned_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/minimap2:2.26--he4a0461_2'
    }

    withName: CompressSortIndexAlignedReads {
        publishDir = [ path: params.bam_dir, mode: 'link' ]
        container = 'quay.io/biocontainers/samtools:1.18--hd87286a_0'
    }

}

report {
    enabled = true
    overwrite = true
}

timeline {
    enabled = true
    overwrite = true
}

docker {
    enabled = true
    // fixOwnership = true
    runOptions = '-u $(id -u):$(id -g)'
}
