params {

    project_dir = '/scratch/asabe/projects/miniencode-dev'
    
}

process {

    withLabel: basic {
        cpus = 2
    }

    withLabel: parallel {
        cpus = 248
    }

    withLabel: multi_parallel {
        cpus = 16
    }

    withName: AlignFLNCReads {
        container = 'quay.io/biocontainers/minimap2:2.26--he4a0461_1'
    }

    withName: GetSpliceJunctionsFromReferenceAnnotation {
        container = 'encodedcc/long-read-rna-pipeline:v2.1.0'
    }

    withName: CleanTranscripts {
        conda = '/scratch/asabe/envs/transcriptclean_env/'
    }

    withName: LabelReadsForAsFraction {
        container = 'encodedcc/long-read-rna-pipeline:v2.1.0'
    }

    withName: SetupTALONDatabase {
        container = 'encodedcc/long-read-rna-pipeline:v2.1.0'
    }

    withName: QuantifyIsoformAbundance {
        container = 'encodedcc/long-read-rna-pipeline:v2.1.0'
    }

    withName: GenerateTranscriptomeAnnotation {
        container = 'encodedcc/long-read-rna-pipeline:v2.1.0'
    }
    
    withName: ExtractTranscriptomeSequences {
        container = 'quay.io/biocontainers/gffread:0.12.7--hdcf5f25_3'
    }
    
}

report {
    enabled = true
    overwrite = true
    }

timeline {
    enabled = true
    overwrite = true
    }

docker.enabled = true
conda.enabled = true
